@font-face {
    font-family: "entypo";
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
    font-weight: normal;
    font-style: normal;
}

.quicksand {
    font-family: 'Quicksand', sans-serif !important;
    text-transform: uppercase;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.miltonian {
    font-family: 'Miltonian', cursive !important;
}

.sketch {
    font-family: 'Cabin Sketch', cursive !important;
}

a, a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h3 {
    display: inline !important;
    cursor: pointer;
}

body {
    text-transform: none !important;
}

.body-dark {
    background-color: #191c1d;
}

.main-viewport {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ecf0f1;
    min-width: 750px;

}

.main-viewport-dark {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #191c1d;
    min-width: 750px;

}

.masked-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 58px;
    bottom: 0;
    background-color: #FFF;
    overflow: hidden;

}

.mainfooter {
    position: fixed;
    width: 180px;
    left: 225px;
    top: 56px;
    bottom: 0;
    text-transform: none !important;
    padding: 0 !important;
    z-index: 10;
    background-color: #2c333a;
}

.mainfooter-light {
    position: fixed;
    width: 180px;
    left: 225px;
    top: 56px;
    bottom: 0;
    text-transform: none !important;
    padding: 0 !important;
    z-index: 10;
    background-color: #f0f4f7;
}

.main-grey-area {
    position: absolute;
    left: 405px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.panorama-grey-area {
    position: absolute;
    left: 410px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.slide-viewport-container {
    position: relative;
    z-index: 1;
}

.slide-viewport {
    margin: auto;
    width: 930px;
    height: 530px;
    background-color: #FFF;
    border: 1px dashed #ECF0F1;
    text-transform: none;
    /*-webkit-user-select: none;*/
}

.impress-slide-container {
    position: relative;
    width: 100%;
    height: 100%
}

.impress-slide {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;


}

.slide-thumb-holdercontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.slide-thumb-holder {
    position: absolute;
    padding-bottom: 10px;
    left: 0;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    scrollbar-width : thin;
}
.slide-thumb-holder::-webkit-scrollbar {
    width: 5px;
}

#add-slide-btn {
    position: fixed;
    left: 233px;
    top: 65px;
}

.slidethumb {
    display: block;
    width: 160px;
    height: 96px;
    margin: 10px auto 0 auto;
    background-color: #ECF0F1;
    position: relative;

}

.orchthumb {
    display: block;
    width: 160px;
    height: 96px;
    border: 1px solid #BDC3C7;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ECF0F1;
    position: absolute;
    text-transform: none;
    box-shadow: -10px 10px 10px #007BFF20;
}

.slidethumb .deletebtn {
    display: block;
    -webkit-transition: opacity 0.5s ease;
    opacity: 0;
}

.slidethumb:hover .deletebtn {
    display: block;
    -webkit-transition: opacity 0.5s ease;
    opacity: 1;
}

.slidelement {
    white-space: nowrap;
}

.slidelementh1 {
    font-size: 400%;
    color: black;
}

.slidelementh2 {
    font-size: 320%;
}

.slidelementh3 {
    font-size: 250%;
}

.movecursor {
    cursor: move;
}

.deletebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
}

.elementselected {
    color: #999;
    /*border: 1px solid #ccc;*/
}


.thumbnailholder {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFF !important;
}

.knob {
    display: inline-block;
}

.transform-label {
    display: inline-block;
    font-size: 150%;
    color: #999;
    padding-right: 10px;
    padding-left: 10px;

}

.transform-controls-holder {
    height: 50px;
    margin: 10px 0;
}

.transform-controls-holder-night {
    height: 50px;
    margin: 10px 0;
}

.panorama-viewport {
    background-color: #FFF;
    width: 930px;
    height: 570px;
    border: 1px dashed #CCC;
    margin: auto;
    overflow: auto;
    position: relative;
}

.image-input {
    width: 400px;
}

.ranges {
    vertical-align: top;
    margin-top: 14px;
    width: 100px;
}

.currentselection {
    border-bottom: 4px solid #007BFF;
}

.presothumb {
    width: 200px;
    height: 100px;
    font-family: "entypo";
    display: inline-block;
    /*border : 1px solid #CCC;*/
    vertical-align: top;
    position: relative;
    bottom: 50px;
    left: 250px;
}

.presothumbcontent {
    display: inline-block;
    width: 60%;
    height: 100px;
    background-color: #FFF;
    vertical-align: top;
    padding-left: 10px;
}

.placeholder {
    display: none;
}

.presentation-meta {
    width: 932px;
    height: 44px;
    background-color: #BDC3C7;
    position: relative;
    margin: auto;
}

.active {
    display: inline-block;
}

.style-thumbnail {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: white;
    border: 1px dotted #CCC;
    position: relative;
    display: inline-block;
}

.styleh3 {
    color: black;
    cursor: pointer;
}

.styleselection {
    position: absolute;
    top: -20px;
    color: #3498DB;
    width: 97%;
    left: -1px;
    padding-left: 5px;
    background-color: #DDD;
    border: 1px solid #DDD;
    cursor: pointer;
}

.objet-thumbnail {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: white;
    border: 1px dotted #CCC;
    position: relative;
    display: inline-block;
}

.svg-thumbnail {
    width: 150px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: white;
    border: 1px dotted #CCC;
    position: relative;
    display: inline-block;
}

.titre-presentation {
    width: 100% !important;
    margin-left: 10px !important;
}

#tableau-body > tr {
    background-color: white;
}

#tableau-body > tr:first-child {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}